@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
:root{
    --line-border-fill: #3498db;
    --line-border-empty : #e0e0e0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #737373;
    display: flex;
    align-items: center ;
    justify-content: center;
    overflow: hidden;
    /* background-color: #f5f6f7; */
    margin: 0;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(45deg,orange,red);
}

.container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.btns{
    display: flex;
    align-items: center;

}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 4px;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease ;
}

.progress-container::before{
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(-50%);
    z-index: -1;
    /* transition: .4s ease ; */
}

.circle{
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease ;
}

.circle.active{
    border-color: var(--line-border-fill);

}

.btn{
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    margin: 5px;
    font-size: 14px;
    padding: 8px 30px;
}

.btn:active{
    transform: scale(0.98);
}

btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}